body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

#wrapper {
    display: flex;
    height: 100vh;
    width: 100%;
}

#sidebar-wrapper {
    min-width: 250px;
    max-width: 250px;
    background-color: #1e1e1e;
    color: rgb(250, 250, 250);
    transition: all 0.5s;
}

#sidebar-wrapper.toggled {
    min-width: 0;
    max-width: 0;
    overflow: hidden;
}

#sidebar-wrapper .sidebar-heading {
    padding: 20px;
    text-align: center;
}

#sidebar-wrapper .profile-pic {
    width: 150px;
    height: 150px;
    background-color: gray;
    border-radius: 50%;
    margin: auto;
    background-image: url('img/Usuario Vacio.png');
    background-size: cover;
    background-position: center;
}

#sidebar-wrapper .list-group-item {
    background-color: #1e1e1e;
    border: none;
}

#sidebar-wrapper .list-group-item:hover {
    background-color: #333;
}

#page-content-wrapper {
    flex: 1;
    background-color: #94ced870;
    padding: 20px;
    overflow-y: auto;
}

.navbar {
    background-color: #404040 !important;
    color: white;
    border-radius: 5px;
}

.navbar .navbar-toggler {
    background-color: white;
}

.bg-info {
    background-color: #abdefa !important;
    border-radius: 8px;
    border: 2px solid #94ced894
}

.form-inline .form-control {
    width: auto;
    display: inline-block;
}

.actions .btn {
    margin-right: 10px;
}

.actions .btn-warning {
    color: rgb(255, 255, 255);
}

@media (max-width: 768px) {
    #sidebar-wrapper {
        min-width: 0;
        max-width: 0;
        overflow: hidden;
    }

    #page-content-wrapper {
        width: 100%;
    }

    #menu-toggle {
        display: inline-block;
    }
}

.container-fluid {
    color: #1e1e1e;
}

/* Estilos para la tabla de inventario */
.table {
    color: #333;
}

.table th,
.table td {
    text-align: center;
    vertical-align: middle;
}

.table .btn {
    margin-right: 5px;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

.table-hover tbody tr:hover {
    background-color: #e0f7fa;
}

.table thead th {
    background-color: #007bff;
    color: white;
}

.edit-button {
    background-color: #28a745;
    border-color: #28a745;
}

.delete-button {
    background-color: #dc3545;
    border-color: #dc3545;
}
